@font-face {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('Rubik'),
        url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-Medium.woff') format('woff');
    font-display: swap;
}